.gradient1{
    background: -moz-linear-gradient(53deg, rgba(153,218,255,1) 0%, rgba(123,33,128,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(153,218,255,1)), color-stop(100%, rgba(123,33,128,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(53deg, rgba(153,218,255,1) 0%, rgba(123,33,128,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(53deg, rgba(153,218,255,1) 0%, rgba(123,33,128,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(53deg, rgba(153,218,255,1) 0%, rgba(123,33,128,1) 100%); /* ie10+ */
    background: linear-gradient(37deg, rgba(153,218,255,1) 0%, rgba(123,33,128,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7B2180', endColorstr='#99DAFF',GradientType=0 ); /* ie6-9 */ 
}